header {
  display: flex;
  align-items: center;
  padding: 2em;
  margin-bottom: 1em;
  background-color: #94a3b8;
  height: 10%;
  min-height: 10%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
}

.logo-lettering {
  padding: .1rem 0 0 .6rem;
}