* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100vh;
}

body {
  position: relative;
}

.modal-background {
  display: none; 
  justify-content: center;
  padding-top: 10%;
  position: fixed;
  z-index: 2; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-color: #e2e8f0;
}

.modal-form {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-modal-btn {
  width: 20px;
  height: 20px;
  background-color: #ef4444;
  color: #ffffff;
  font-size: 1rem;
  margin: .5rem;
  float: right;
  border: none;
}

.modal-form > input, .submit-book-btn {
  width: 50%;
  height: 30px;
  margin: .5rem;
}

.modal-form > input {
  padding-left: .5rem;
  border: none;
}

.submit-book-btn {
  background-color: #0ea5e9;
  color: #ffffff;
  border: none;
}

.edit-modal-background {
  display: none;
  justify-content: center;
  padding-top: 10%;
  position: fixed; 
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.edit-modal {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-color: #e2e8f0;
}

.edit-modal-form {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-edit-modal-btn {
  width: 20px;
  height: 20px;
  background-color: #ef4444;
  color: #ffffff;
  font-size: 1rem;
  margin: .5rem;
  float: right;
  border: none;
}

.edit-modal-form > input, .edit-submit-book-btn {
  width: 50%;
  height: 30px;
  margin: .5rem;
}

.edit-modal-form > input {
  padding-left: .5rem;
  border: none;
}

.edit-submit-book-btn {
  background-color: #0ea5e9;
  color: #ffffff;
  border: none;
}

header {
  display: flex;
  align-items: center;
  padding: 2em;
  margin-bottom: 1em;
  background-color: #94a3b8;
  height: 10%;
  min-height: 10%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
}

.logo-lettering {
  padding: .1rem 0 0 .6rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #94a3b8;
  color: #ffffff;
  font-family: Helvetica, sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 2em;
}

.add-book-btn {
  width: 150px;
  height: 30px;
  border: none;
  font-size: .9rem;
  color: #ffffff;
  background-color: #0ea5e9;
  border-radius: 20px;
}

button:hover {
  cursor: pointer;
}

.add-book-btn:active {
  background-color: #94a3b8;
}

.card-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 30px;
  padding-bottom: 5rem;
}

.card-div {
  width: 300px;
  height: 350px;
  min-height: 350px;
  background-color: #e2e8f0;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.book-title {
  font-family: Arial, Helvetica, sans-serif;
  color: #334155;
}

.card-cover-container {
  display: flex;
  justify-content: center;
  height: 180px;
  background-color: #94a3b8;
}

.book-cover-img {
  height: 180px;
  max-width: 140px; 
}

.card-info-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 1.2rem;

}

.card-btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: .5rem 1rem 1rem 1rem;
  position: absolute;
  bottom: 0;
}

.card-btn-container > button {
  width: 64px;
  height: 24px;
  border: none;
  margin: .2rem;
  color: #ffffff;
}

.unread {
  background-color: #94a3b8;
}

.read {
  background-color: #22c55e;
}

.edit-btn {
  background-color: #0ea5e9;
}

.remove-btn {
  background-color: #ef4444;
}

@media (max-width: 400px) {
  .card-container {
    display: grid;
    grid-template-columns: 300px;
  }

  .modal-background, .edit-modal-background {
    padding-top: 25%;
  }

  .modal, .edit-modal {
    width: 300px;
    height: 300px;
  }
}
